# Environments
venv/
.env

# Model Artifacts & Data (Tracked by DVC)
saved_models/
dataset/
*.h5
*.hdf5
*.png

# MLOps Tracking
mlruns/
.dvc/config

# Python Caches
__pycache__/
*.pyc
*.pem
mlflow.db
